<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if admin_signed_in? %>
    <p> Administrador:  <%= current_admin.email %> </p>
<% else %>
    <p>Administrador: Offline </p>
<% end %>

<% if user_signed_in? %>
    <p> Usuário:  <%= current_user.email %> </p>
<% else %>
    <p> Usuário: Offline </p>
<% end %>